[submodule "wp-content/themes/SelfPressed"]
	path = wp-content/themes/SelfPressed
	url = git@github.com:DArtagan/SelfPressed
[submodule "wp-content/themes/roots"]
	path = wp-content/themes/roots
	url = git@github.com:retlehs/roots.git
